:root {
    --w-15: 15%;
    --w-30: 30%;    
    --w-33: 33%;
    --w-40: 40%;
    --w-55: 55%;
    --w-70: 70%;
}


.cells-row {
    display: flex;
    width: 100%;
}

.cells-row-odd {
    background-color: #f5f5f5;
}
.cells-row-even {
    
}


.data-cell {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 1em;
}
.data-cell-value {
    display: inline-block;
}

.data-cell.row-title,
.input-cell.row-title {
    text-align: right;
}
.data-cell.row-title:after,
.input-cell.row-title:after {
    display:inline;
    content: ":";
    padding-right: 0.5em;
}

.input-cell {
    width: 100%;
}
.input-cell-value {
    display: inline-block;
    width: 100%;
    text-align: inherit;
    background-color: inherit;
    border: none;
}
.row-title .input-cell-value {
    width: calc(100% - 1.5em);
}



/* cell columns */
.w-15 { width: 15%; }
.w-30 { width: 30%; }
.w-33 { width: 33%; }
.w-40 { width: 40%; }
.w-55 { width: 55%; }
.w-70 { width: 70%; }

.left {
    text-align:left;
}

.right {
    text-align:right;
}
.center {
    text-align:center;
}


.decimals-hidden {
    visibility: hidden;
}
